<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form" class="flex-form-column">
    <mat-form-field>
      <mat-label [style.color]="plateNumber ? 'black' : ''">{{plateNumber ? carLabel : 'Car'}}</mat-label>
      <mat-select formControlName="plateNumber" required [disabled]="plateNumber">
        <mat-option *ngFor="let car of cars" [value]="car.plateNumber">{{car.plateNumber}}
          - {{car |carShortDisplay}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-2cols-container">
      <mat-form-field>
        <mat-label>Inspection date</mat-label>
        <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="pickerIns" formControlName="inspectionDate"
               required>
        <mat-datepicker-toggle matSuffix [for]="pickerIns"></mat-datepicker-toggle>
        <mat-datepicker #pickerIns></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Expertised by</mat-label>
        <input matInput type="text" formControlName="expertisedBy">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <mat-checkbox formControlName="damaged">
      DAMAGED
    </mat-checkbox>

    <!--    if not damaged don't let upload images (or show upload only if damaged? then mandatory)-->
    <!--    nice to have: dynamically show additional picture upload field when previous is used, up to (5?)-->

    <input type="file" multiple accept=".png,.jpeg,.jpg" formControlName="picture" (change)="checkFiles($event)">

    <input type="file" accept=".pdf,.doc,.docx,.rtf" formControlName="report" (change)="checkFiles($event)">

  </form>

<!--      [disabled]="form.invalid"
-->
  <button
    class="dialog-button"
    mat-raised-button
    color="accent"
    (click)="doSend()">
    Send
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    (click)="matDialogRef.close()">
    Cancel
  </button>
</mat-dialog-content>
