<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form" class="flex-form-column">
    <mat-form-field>
      <mat-label [style.color]="data?.plateNumber ? 'black' : ''">{{data?.plateNumber ? carLabel : 'Car'}}</mat-label>
      <mat-select formControlName="plateNumber" required [disabled]="data?.plateNumber">
        <mat-option *ngFor="let car of cars" [value]="car.plateNumber">{{car.plateNumber}}
          - {{car | carShortDisplay}}</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="form-2cols-container">
      <mat-form-field>
        <mat-label>Inspection date</mat-label>
        <input matInput [max]="maxDate" [min]="minDate" [matDatepicker]="pickerIns" formControlName="inspectionDate"
               required>
        <mat-datepicker-toggle matSuffix [for]="pickerIns"></mat-datepicker-toggle>
        <mat-datepicker #pickerIns></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Expertised by</mat-label>
        <input matInput type="text" formControlName="expertisedBy" required>
      </mat-form-field>
    </div>
    <mat-checkbox style="padding-top: 10px" formControlName="damaged" #damaged (change)="isDamaged = damaged.checked">
      DAMAGED
    </mat-checkbox>


    <div [hidden]="!isDamaged">
      <div style="padding-top: 10px; color: orangered" *ngIf="isDamaged && (latestPictures.length === 0 || !latestReport)">Report and
        pictures are mandatory for damaged cars!
      </div>

      <div style="padding-top: 25px">
        <label for="report" class="btn">Upload report (.pdf)</label> <br>
        <input type="file" id="report" accept=".pdf" formControlName="report" (change)="checkFiles($event)">
      </div>
      <div style="padding-bottom: 25px">
        <label for="pictures" class="btn">Upload pictures (.png, .jpeg or .jpg)</label> <br>
        <input type="file" id="pictures" multiple accept=".png,.jpeg,.jpg" formControlName="picture" (change)="checkFiles($event)">
      </div>
    </div>

  </form>

  <button
    style="margin-top: 35px"
    class="dialog-button"
    mat-raised-button
    color="accent"
    [disabled]="form.invalid || isDamaged && (latestPictures.length === 0 || !latestReport)"
    (click)="createInspection()">
    Send
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    (click)="matDialogRef.close()">
    Close
  </button>
</mat-dialog-content>

<div class="spinner-container">
  <mat-spinner aria-label="Content is loading" *ngIf="loading"></mat-spinner>
</div>
