<mat-nav-list>
  <mat-list-item
    [routerLink]="link.link"
    (click)="current === link ? false : onClickAssignCurrent(link)"
    *ngFor="let link of links"
    [class.highlight-selected-menu]="current === link">
    <mat-icon *ngIf="current === link" matListIcon>play_arrow</mat-icon>
      {{link.title}}
  </mat-list-item>
</mat-nav-list>

<button
  mat-raised-button
  (click)="sidenavHandle.toggle()"
  class="collapse-menu-button">
  close
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

