<p>side-nav works!yoleyoleyolo</p>
<p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p><p>side-nav works!yoleyoleyolo</p>
<button
  (click)="sidenavHandle.toggle()"
  class="collapse-menu-button">
  <mat-icon>keyboard_arrow_left</mat-icon>
</button>

