<h2>{{title}}</h2>

<section class="list-actions-wrapper-container">
  <section class="list-actions-buttons-container">
    <button
      class="list-button"
      mat-raised-button
      (click)="doOpenFilterDialog()"
      [disabled]="!filterList">
      <mat-icon>filter_alt</mat-icon>
      Filter
    </button>
    <mat-icon
      matTooltip="Current filter is: {{filter | filterDisplay: option : iAm}}"
      aria-label="Displays the current filter for displaying the list when hovered over">
      info
    </mat-icon>
  </section>
  <form>
    <mat-form-field appearance="standard" class="search-field" style="visibility: hidden">
      <input matInput type="text" placeholder="Search">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</section>

<div class="spinner-container">
  <mat-spinner aria-label="Content is loading" *ngIf="loading"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" matSort [hidden]="!loaded">
  <ng-container matColumnDef="warning-icon">
    <th mat-header-cell *matHeaderCellDef>{{colNames[0]}}</th>
    <td mat-cell *matCellDef="let fillup">
      <button
        mat-mini-fab
        [color]="fillup.correctedById ? 'accent' : 'warn'"
        *ngIf="fillup.discrepancy">
        <mat-icon style="color: black !important;">{{fillup.correctedById ? 'warning_amber' : 'report_problem'}}</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[0]}}</td>
  </ng-container>

  <ng-container matColumnDef="dateTimeFilling">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[1]}}</th>
    <td  mat-cell *matCellDef="let fillup">{{fillup.dateTimeFilling | date: 'yyyy/MM/dd hh:mm a'}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[1]}}</td>
  </ng-container>

  <ng-container matColumnDef="discrepancyType">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[2]}}</th>
    <td mat-cell *matCellDef="let fillup">{{fillup.discrepancyType | discrepancyToDisplayName}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[2]}}</td>
  </ng-container>

  <ng-container matColumnDef="plateNumber">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[3]}}</th>
    <td mat-cell *matCellDef="let fillup">{{fillup.plateNumber}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[3]}}</td>
  </ng-container>

  <ng-container matColumnDef="staffMember">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[4]}}</th>
    <td mat-cell *matCellDef="let fillup">{{fillup.staffMember | staffShortDisplay}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[4]}}</td>
  </ng-container>

  <ng-container matColumnDef="numberDiscrepancies">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[5]}}</th>
    <td mat-cell *matCellDef="let fillup">
      {{fillup.staffMember?.numberDiscrepancies}}
      <mat-icon *ngIf="fillup.staffMember?.numberDiscrepancies > 1">priority_high</mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[5]}}</td>
  </ng-container>

  <!--  Columns configuration  -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="row.discrepancy ? doOpenWarning(row) : false"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="paginationChoices" showFirstLastButtons></mat-paginator>

<button
  *ngIf="loaded"
  class="list-button excel-button"
  color="primary"
  mat-raised-button
  (click)="doExportCurrentSelectToExcel()"
  [disabled]="dataSource.data.length === 0">
  <mat-icon>file_download</mat-icon>
  Export to Excel
</button>
