<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form" class="flex-form-column">
    <mat-form-field>
      <input type="text" matInput placeholder="Plate number" formControlName="plateNumber" appPlateNumber required>
    </mat-form-field>
    <div class="form-2cols-container">
      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand" placeholder="Brand" required>
          <mat-option *ngFor="let brand of brandEnum | keyvalue" [value]="brand.key">
            {{brand.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Model" formControlName="model" required>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-2cols-container">
      <mat-form-field appearance="fill">
        <mat-label>Fuel</mat-label>
        <mat-select formControlName="fuelType" placeholder="Fuel" required>
          <mat-option *ngFor="let fuel of fuelEnum | keyvalue" [value]="fuel.key">
            {{fuel.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [min]="0" type="number" formControlName="averageConsumption" placeholder="Average consumption - liters / 100 kilometers" required>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-2cols-container">
      <mat-form-field>
        <mat-label>Contract start date</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="startDate" (dateChange)="checkEndAfterStart()" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart> </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contract end date</mat-label>
        <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" (input)="checkEndAfterStart()" (dateChange)="checkEndAfterStart()">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd> </mat-datepicker>
      </mat-form-field>
    </div>
    <mat-form-field appearance="fill">
      <mat-label>Leasing company</mat-label>
      <mat-select formControlName="leasingCompanyId" placeholder="Leasing company" required>
        <mat-option *ngFor="let company of leasingCompanies" [value]="company.leasingCompanyId">
          {{company.leasingCompanyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="freeText" placeholder="Additional information">
    </mat-form-field>
  </form>

  <button
    class="dialog-button"
    mat-raised-button
    color="accent"
    [disabled]="form.invalid || endBeforeStart"
    (click)="doClose()">
    {{title}}
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    (click)="matDialogRef.close()">
    Cancel
  </button>
</mat-dialog-content>


