<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form" class="flex-form-column">
    <div class="form-cols-container">
      <mat-form-field>
        <input type="text" matInput placeholder="Plate number" #plate formControlName="plateNumber" appPlateNumber required (input)="checkPlate(plate)">
        <mat-hint class="warning-hint" *ngIf="plateInvalid">Enter a plate number in the format 1-AAA-000</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Staff member</mat-label>
        <mat-select formControlName="staffMemberId" placeholder="Staff member" required (selectionChange)="checkStaffLinked($event)">
          <mat-option *ngFor="let staffMember of staff" [value]="staffMember.staffMemberId">
            {{staffMember | staffShortDisplay}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-cols-container">
      <mat-form-field appearance="fill">
        <mat-label>Brand</mat-label>
        <mat-select formControlName="brand" placeholder="Brand" required>
          <mat-option *ngFor="let brand of brandEnum | keyvalue" [value]="brand.key">
            {{brand.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput placeholder="Model" formControlName="model" required>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-cols-container">
      <mat-form-field appearance="fill">
        <mat-label>Fuel</mat-label>
        <mat-select formControlName="fuelType" placeholder="Fuel" required (selectionChange)="checkFuelChange($event)">
          <mat-option *ngFor="let fuel of fuelEnum | keyvalue" [value]="fuel.key">
            {{fuel.value}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput [min]="0" type="number" formControlName="averageConsumption" [placeholder]="isElectric ? 'N/A' : 'Av. consumption l/100'" [required]="!isElectric">
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <div class="form-cols-container">
      <mat-form-field>
        <mat-label>Contract start date</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="startDate" (input)="checkEndAfterStart()" (dateChange)="checkEndAfterStart()" required>
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart> </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contract end date</mat-label>
        <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" (input)="checkEndAfterStart()" (dateChange)="checkEndAfterStart()">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd> </mat-datepicker>
        <mat-hint *ngIf="endBeforeStart" class="warning-hint">Invalid input: end date must be after start date!</mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="durationInformation" class="align-mat-icon-with-text-div-container"><mat-icon matPrefix>information</mat-icon><p> {{ durationInformation }}</p></div>
    <mat-form-field appearance="fill">
      <mat-label>Leasing company</mat-label>
      <mat-select formControlName="leasingCompanyId" placeholder="Leasing company" required>
        <mat-option *ngFor="let company of leasingCompanies" [value]="company.leasingCompanyId">
          {{company.leasingCompanyName}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="text" formControlName="freeText" placeholder="Additional information" maxlength="250">
    </mat-form-field>
  </form>

  <button
    class="dialog-button"
    mat-raised-button
    color="accent"
    [disabled]="form.invalid || endBeforeStart"
    (click)="saveCar()">
    {{title}}
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    (click)="matDialogRef.close()">
    Cancel
  </button>
</mat-dialog-content>


