<h3>{{title}}</h3>

<div style="color: orangered"><mat-icon matPrefix>warning</mat-icon> Modifying this information will crush previous entry </div>
<br>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form">

    <mat-form-field appearance="fill">
      <input type="text" matInput formControlName="car" value="{{data.car.plateNumber}}" disabled>
    </mat-form-field>


    <mat-form-field>
      <mat-label>Staff member</mat-label>
      <mat-select formControlName="staffMember">
        <mat-option *ngFor="let staffMember of staff" [value]="staffMember">
          {{staffMember.staffLastName.toUpperCase()}} {{staffMember.staffFirstName}}
        </mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<button
  class="dialog-button"
  mat-raised-button
  color="accent"
  [disabled]="form.untouched || form.pristine || form.invalid"
  (click)="doLink()">
  Link car-employee
</button>

<button
  class="dialog-button"
  mat-raised-button
  (click)="matDialogRef.close(false)">
  Cancel
</button>
