<h2>{{title}}</h2>

<table mat-table [dataSource]="dataSource">
  <ng-container matColumnDef="view">
    <th mat-header-cell *matHeaderCellDef>{{colNames[0]}}</th>
    <td mat-cell *matCellDef="let car">
      <button
        mat-mini-fab
        color="accent"
        (click)="doOpenCarDetail(car)">
        <mat-icon>visibility</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[0]}}</td>
  </ng-container>

  <ng-container matColumnDef="cplate">
    <th mat-header-cell *matHeaderCellDef>{{colNames[1]}}</th>
    <td mat-cell *matCellDef="let car">{{car.plateNumber}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[1]}}</td>
  </ng-container>

  <ng-container matColumnDef="cbrand">
    <th mat-header-cell *matHeaderCellDef>{{colNames[2]}}</th>
    <td mat-cell *matCellDef="let car">{{car.brand}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[2]}}</td>
  </ng-container>

  <ng-container matColumnDef="cmodel">
    <th mat-header-cell *matHeaderCellDef>{{colNames[3]}}</th>
    <td mat-cell *matCellDef="let car">{{car.model}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[3]}}</td>
  </ng-container>

  <ng-container matColumnDef="cfuel">
    <th mat-header-cell *matHeaderCellDef>{{colNames[4]}}</th>
    <td mat-cell *matCellDef="let car">{{car.fuelType}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[4]}}</td>
  </ng-container>

  <ng-container matColumnDef="cstaff">
    <th mat-header-cell *matHeaderCellDef>{{colNames[5]}}</th>
    <td mat-cell *matCellDef="let car">{{car.staffMember?.staffFirstName}} {{car.staffMember?.staffLastName.toUpperCase()}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[5]}}</td>
  </ng-container>

  <!--  Columns configuration  -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="paginationChoices" showFirstLastButtons></mat-paginator>
