<section class="header-content">

  <div class="menu-side-placeholder">
    <button
      *ngIf="!sidenavHandle.opened"
      (click)="sidenavHandle.toggle()"
      class="show-sidenav-menu"
      aria-label="Expand side navigation"
      >
      <mat-icon>list</mat-icon>
    </button>
  </div>

  <h1>{{title}}</h1>

  <div class="light-dark-side-placeholder">
    <mat-slide-toggle
      #lightDarkToggle
      class="toggle-light-dark-theme"
      (click)="doToggleLightDark(lightDarkToggle)"
      aria-label="Toggle to switch light to dark mode">
      <mat-icon>{{lightDarkToggleIcon}}</mat-icon>
    </mat-slide-toggle>
  </div>

</section>
