<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content>
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-select #currentSelection formControlName="filter" (selectionChange)="updateSelection($event)">
        <mat-option *ngFor="let filter of filtersList" [value]="filter.value">
          {{filter.key}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="currentSelection.value === 'DATE_ABOVE'">
      <mat-label>Choose a date</mat-label>
      <input matInput [max]="maxDate"  [matDatepicker]="picker" formControlName="option" (dateInput)="formIsValid = true">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker
        #picker
        startView="multi-year">
        <!--     Start view multi years sets view to display list of years first, then month, then date     -->
      </mat-datepicker>
    </mat-form-field>
  </form>
</mat-dialog-content>

<button
  class="dialog-button"
  mat-raised-button
  color="accent"
  [disabled]="!formIsValid"
  (click)="doFilter()">
  Filter
</button>

<button
  class="dialog-button"
  mat-raised-button
  (click)="matDialogRef.close()">
  Cancel
</button>

