<h2>{{title}}</h2>

  <section class="list-actions-buttons-container">
    <button
      class="list-button"
      mat-raised-button
      (click)="doOpenFilterDialog()"
      [disabled]="!filterList || dataSource.data.length == 0">
      <mat-icon>filter_alt</mat-icon>
      Filter
    </button>
    <mat-icon
      matTooltip="Current filter is: {{filter | filterDisplay: option : iAm}}"
      aria-label="Displays the current filter for displaying the list when hovered over">
      info
    </mat-icon>
  <form>
    <mat-form-field appearance="standard" class="search-field">
      <input matInput type="text" placeholder="Search" (input)="searchFilter($event)" [disabled]="dataSource.data.length == 0">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
    <div class="new-button">
      <button
        color="accent"
        class="list-button"
        mat-raised-button
        (click)="doOpenInspectionCreate()">
        <mat-icon>playlist_add</mat-icon>
        New
      </button>
    </div>
</section>

<div class="spinner-container">
  <mat-spinner aria-label="Content is loading" *ngIf="loading"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" matSort [hidden]="!loaded">
  <ng-container matColumnDef="inspectionDate">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[0]}}</th>
    <td class="mat-cell-first-of-type-default" mat-cell *matCellDef="let inspection">
      {{inspection.inspectionDate | date: 'dd-MM-yyyy'}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[0]}}</td>
  </ng-container>

  <ng-container matColumnDef="expertisedBy">
    <th mat-header-cell *matHeaderCellDef>{{colNames[1]}}</th>
    <td mat-cell *matCellDef="let inspection">
      {{inspection.expertisedBy}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[1]}}</td>
  </ng-container>

  <ng-container matColumnDef="plateNumber">
    <th mat-header-cell *matHeaderCellDef>{{colNames[2]}}</th>
    <td mat-cell *matCellDef="let inspection">
      {{inspection.plateNumber}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[2]}}</td>
  </ng-container>

  <ng-container matColumnDef="car">
    <th mat-header-cell *matHeaderCellDef>{{colNames[3]}}</th>
    <td mat-cell *matCellDef="let inspection">
      {{inspection.car | carShortDisplay}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[3]}}</td>
  </ng-container>

  <ng-container matColumnDef="staffMember">
    <th mat-header-cell *matHeaderCellDef>{{colNames[4]}}</th>
    <td mat-cell *matCellDef="let inspection">
      {{inspection.staffMember | staffShortDisplay}}
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[4]}}</td>
  </ng-container>

  <ng-container matColumnDef="damaged">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[5]}}</th>
    <td mat-cell *matCellDef="let inspection">
      <mat-icon>{{inspection.damaged ? 'broken_image' : ''}}</mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[5]}}</td>
  </ng-container>

  <!--  Columns configuration  -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="paginationChoices" showFirstLastButtons></mat-paginator>
<button
  *ngIf="loaded"
  class="list-button excel-button"
  color="primary"
  mat-raised-button
  (click)="doExportCurrentSelectToExcel()"
  [disabled]="dataSource.data.length === 0">
  <mat-icon>file_download</mat-icon>
  Export to Excel
</button>
