// Global CSS

*{
  font-family: Montserrat, Roboto, Verdana, sans-serif;
}

table {
  width: 100%;
  border: grey 1px dotted;
}

// Custom classes

.form-2cols-container {
  display: flex;
  justify-content: space-between;
}

// select all children of
.form-2cols-container > * {
  flex-grow: 1;
}

.form-2cols-container>:first-child {
  margin-right: 10px;
}

.form-2cols-container>:last-child {
  margin-left: 10px;
}

.flex-form-column {
  display: flex;
  flex-direction: column;
}

.align-mat-icon-with-text-div-container {
  display: flex;
  align-items: center;
}

.create-update-form-container {
  padding: 10px 50px 50px !important;
}

.dirty-form-onleave-dialog-container {
  padding: 10px 50px 50px !important;
  display: flex !important;
  justify-content: space-evenly;
}

.list-button {
  margin-right: 10px !important;
  height: 40px !important;
}

.new-button {
  position: absolute !important;
  right: 10px !important;
}

.dialog-button {
  margin-right: 15px !important;
}

.list-actions-buttons-container {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: center; // aligns the mat icon
}

.list-actions-wrapper-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.search-field {
  margin-left: 35px;
}

// Adopting default style for text columns
// as default behavior was rewritten to adapt to mat icons
.mat-cell-first-of-type-default {
  text-align: left !important;
  padding-left: 24px !important;
}

// Material classes and handles

.mat-input-element:disabled {
  color: black !important;
}

.mat-calendar-table {
  border: none !important;
}

.mat-divider {
  margin: 20px !important;
}

.mat-form-field-appearance-outline .mat-form-field-flex {
  padding: 0;
  margin: 0;
}

.mat-sort-header-arrow {
  color: black !important;
}

.mat-sort-header-container:not(.mat-sort-header-sorted) .mat-sort-header-arrow {
  opacity: 0.54 !important;
  transform: translateY(0px) !important;
  color: lightgray !important;
}

.mat-tooltip {
  font-size: 16px !important;
  background-color: #1A237E !important;
  max-width: unset !important;
  // white-space: pre allows line breaks to be interpreted
  white-space: pre !important;
}

.mat-select-arrow {
  color: #FF6F00 !important;
}

// line under a form field (fill appearance)
.mat-form-field-ripple {
  background-color: #FF6F00 !important;
}

.mat-drawer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

// the "outer" content, not the inner content of the mat drawer (side nav)
.mat-drawer-content {
  padding-left: 15px;
  padding-right: 15px;
  display: flex !important;
  flex-direction: column;
}

// content of the side nav itself
.mat-drawer-inner-container {
  width: 250px !important;
  background-color: #E8EAF6;
}

.mat-dialog-title {
  background-color: #3F51B5;
  padding: 10px;
  color: white;
  text-align: center;
}

.mat-mini-fab {
  box-shadow: none !important;
}

.mat-table .mat-footer-cell, .mat-table .mat-header-cell {
  font-size: 14px;
  color: #1A237E !important;
}

.mat-table td.mat-cell:first-of-type{
  padding-left: 0 ;
  text-align: center;
}

.mat-table td.mat-cell:last-of-type{
  padding-right: 0 !important;
  text-align: left;
}

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@include mat-core();
$fleet-light-primary: mat-palette($mat-indigo);
$fleet-light-accent: mat-palette($mat-amber);
$fleet-light-warn: mat-palette($mat-deep-orange);
$fleet-light-theme: mat-light-theme($fleet-light-primary, $fleet-light-accent, $fleet-light-warn);


// Define an alternate dark theme.
$fleet-dark-primary: mat-palette($mat-blue-grey);
$fleet-dark-accent:  mat-palette($mat-amber);
$fleet-dark-warn:    mat-palette($mat-deep-orange);
$fleet-dark-theme:   mat-dark-theme($fleet-dark-primary, $fleet-dark-accent, $fleet-dark-warn);

.dark-theme {
  @include angular-material-theme($fleet-dark-theme);
  .mat-drawer-inner-container {
    background-color: #000033;
  }
  .mat-table .mat-footer-cell, .mat-table .mat-header-cell {
    color: lightgray !important;
  }
}

.light-theme {
  @include angular-material-theme($fleet-light-theme);
}
