<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form" class="flex-form-column">
    <div class="form-2cols-container">
      <mat-form-field>
        <input type="text" matInput formControlName="plateNumber" placeholder="Plate number">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="ongoing" placeholder="Contract status">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input type="text" matInput formControlName="staffMember" placeholder="Staff member">
      <mat-icon matSuffix
                *ngIf="car.staffMember"
                matTooltip="{{car.staffMember | staffTooltip}}"
                [cdkCopyToClipboard]="car.staffMember.corporateEmail"
                (mouseenter)="changeIconStaff()"
                (mouseleave)="changeIconStaff()"
                (click)="informCopied()"
      >
        {{changeableIconStaff}}
      </mat-icon>
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="form-2cols-container">
      <mat-form-field>
        <input type="text" matInput formControlName="brand" placeholder="Brand">
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="model" placeholder="Model">
      </mat-form-field>
    </div>
    <div class="form-2cols-container">
      <mat-form-field>
        <input type="text" matInput formControlName="fuelType" placeholder="Fuel">
      </mat-form-field>
      <mat-form-field>
        <input type="number" matInput formControlName="averageConsumption" placeholder="Average consumption liter / 100 kilometer">
      </mat-form-field>
    </div>
    <mat-form-field>
      <input type="text" matInput formControlName="kilometers" placeholder="Kilometers">
    </mat-form-field>
    <mat-divider></mat-divider>
    <div class="form-2cols-container">
      <mat-form-field>
        <mat-label>Contract start date</mat-label>
        <input matInput [matDatepicker]="pickerStart" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart> </mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contract end date</mat-label>
        <input matInput [matDatepicker]="pickerEnd" formControlName="endDate" (input)="checkEndAfterStart()" (dateChange)="checkEndAfterStart()">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd> </mat-datepicker>
        <mat-hint *ngIf="endBeforeStart" class="warning-hint">Invalid input: end date must be after start date!</mat-hint>
      </mat-form-field>
    </div>
    <div *ngIf="durationInformation" class="align-mat-icon-with-text-div-container"><mat-icon matPrefix>information</mat-icon><p> {{ durationInformation }}</p></div>
    <mat-form-field>
      <input type="text" matInput formControlName="leasingCompany" placeholder="Leasing company">
      <mat-icon matSuffix
                *ngIf="car.leasingCompany"
                matTooltip="{{car.leasingCompany | leasingTooltip}}"
                [cdkCopyToClipboard]="car.leasingCompany.leasingCompanyEmail"
                (mouseenter)="changeIconLeasing()"
                (mouseleave)="changeIconLeasing()"
                (click)="informCopied()"
      >
        {{changeableIconLeasing}}
      </mat-icon>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field>
      <input type="text" matInput formControlName="freeText" placeholder="Additional information">
    </mat-form-field>
  </form>

  <button
    class="dialog-button"
    mat-raised-button
    color="accent"
    [disabled]="form.untouched || form.pristine || form.invalid || endBeforeStart"
    (click)="doUpdate()">
     Update
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    color="primary"
    (click)="doOpenInspection()"
    *ngIf="!car.carInspectionId && !carWasInspected && (car.endDate || endDateWasSelected)"
  >
    Create inspection report
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    color="warn"
    (click)="doChangeStaffMember()"
  >
    {{'Change staff member'}}
  </button>

  <button
    class="dialog-button"
    mat-raised-button
    (click)="matDialogRef.close(hasModifications)">
    Close
  </button>
</mat-dialog-content>
