<h3 mat-dialog-title>{{title}}</h3>

<mat-dialog-content class="create-update-form-container">
  <form [formGroup]="form" class="flex-form-column">
    <mat-form-field>
      <input type="text" matInput placeholder="Plate number" formControlName="plateNumber" appPlateNumber>
    </mat-form-field>
  </form>
</mat-dialog-content>

<button
  class="dialog-button"
  mat-raised-button
  color="accent"
  [disabled]="form.invalid"
  (click)="doClose()">
  {{title}}
</button>

<button
  class="dialog-button"
  mat-raised-button
  (click)="matDialogRef.close()">
  Cancel
</button>
