<h2>{{title}}</h2>

<section class="list-actions-buttons-container">
  <button
    role="button"
    aria-label="Open filter dialog"
    [attr.aria-disabled]="!filterList || dataSource.data.length == 0"
    class="list-button"
    mat-raised-button
    (click)="doOpenFilterDialog()"
    [disabled]="!filterList">
    <mat-icon>filter_alt</mat-icon>
    Filter
  </button>
  <mat-icon
    matTooltip="Current filter is: {{filter | filterDisplay: option : iAm}}"
    aria-label="Displays the current filter for displaying the list when hovered over">
    info
  </mat-icon>
  <form>
    <mat-form-field appearance="standard" class="search-field">
      <input matInput type="text" placeholder="Search" (input)="searchFilter($event)" [disabled]="dataSource.data.length == 0">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
  <div class="new-button">
    <button
      color="accent"
      class="list-button"
      mat-raised-button
      (click)="doOpenLeasingUpdOrCreate(null)">
      <mat-icon>playlist_add</mat-icon>
      New
    </button>
  </div>
</section>

<div class="spinner-container">
  <mat-spinner aria-label="Content is loading" *ngIf="loading"></mat-spinner>
</div>

<table mat-table [dataSource]="dataSource" matSort [hidden]="!loaded">
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>{{colNames[0]}}</th>
    <td mat-cell *matCellDef="let leasing">
      <button
        mat-mini-fab
        color="accent"
        (click)="doOpenLeasingUpdOrCreate(leasing)">
        <mat-icon>create</mat-icon>
      </button>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[0]}}</td>
  </ng-container>

  <ng-container matColumnDef="leasingCompanyName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[1]}}</th>
    <td mat-cell *matCellDef="let leasing">{{leasing.leasingCompanyName}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[1]}}</td>
  </ng-container>

  <ng-container matColumnDef="leasingCompanyContactPerson">
    <th mat-header-cell *matHeaderCellDef>{{colNames[2]}}</th>
    <td mat-cell *matCellDef="let leasing">{{leasing.leasingCompanyContactPerson}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[2]}}</td>
  </ng-container>

  <ng-container matColumnDef="leasingCompanyPhone">
    <th mat-header-cell *matHeaderCellDef>{{colNames[3]}}</th>
    <td mat-cell *matCellDef="let leasing">{{leasing.leasingCompanyPhone | BelgianPhoneNumber}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[3]}}</td>
  </ng-container>

  <ng-container matColumnDef="leasingCompanyEmail">
    <th mat-header-cell *matHeaderCellDef>{{colNames[4]}}</th>
    <td mat-cell *matCellDef="let leasing">{{leasing.leasingCompanyEmail}}</td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[4]}}</td>
  </ng-container>

  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{colNames[5]}}</th>
    <td mat-cell *matCellDef="let leasing">
      <mat-icon>
        {{leasing.active ? 'done_outline' : 'block'}}
      </mat-icon>
    </td>
    <td mat-footer-cell *matFooterCellDef>{{colNames[5]}}</td>
  </ng-container>

  <!--  Columns configuration  -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.inactive]="!row.active"></tr>
  <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="paginationChoices" showFirstLastButtons></mat-paginator>
<button
  *ngIf="loaded"
  class="list-button excel-button"
  color="primary"
  mat-raised-button
  (click)="doExportCurrentSelectToExcel()"
  [disabled]="dataSource.data.length === 0">
  <mat-icon>file_download</mat-icon>
  Export to Excel
</button>
